body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#ff484a, #b783ff);
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Vidaloka&display=swap");
/*Variabiles*/
:root {
  --white: #fff;
  --white-bg: #f1fcfe;
  --black: #000000;
  --brown: #422117;
  --brown-dark: #191f26;
  --blue-light: #47c2ff;
  --blue-dark: #1884f4;
  --orange: #ff7733;
  --red: #ff484a;
  --yellow: #f3a51e;
  --font-header: "Vidaloka", serif;
  --font-paragraph: "Poppins", sans-serif;
}

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  padding: 0;
  font-family: var(--font-paragraph);
  font-weight: 400;
  background: linear-gradient(var(--blue-dark), var(--white)) fixed;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}
a:active,
a:focus {
  outline: none;
}

/*Global*/
h1,
h2,
h3 {
  font-family: var(--font-header);
  font-weight: 400;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

h4,
h5,
p,
label,
input {
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
button {
  cursor: pointer;
  font-family: var(--font-header);
}
.App {
  width: 90%;
  min-height: 90vh;
  max-width: 1400px;
  background-color: var(--white-bg);
  margin: auto;
  border-radius: 20px;
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* HEADER ZONE */
.header-container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 20px;
}
.header-links ul {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.header-links li {
  list-style: none;
  margin: 10px 20px;
  color: var(--brown);
  font-family: var(--font-header);
  font-size: 24px;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* INTRODUCTION PAGE */
.introduction-page-container {
  text-align: center;
  margin: auto;
  max-width: 70%;
}
.search-form-container {
  margin: auto;
  background: white;
  position: relative;
  max-width: 70%;
}

.introduction-page-collage-flowers {
  margin: 30px 0;
}

.introduction-page-add-flower {
  margin-top: 20px;
  font-size: 24px;
}
.introduction-page-add-flower span {
  color: var(--red);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Search Component*/
.search-form-container {
  background-color: var(--white-bg);
}
.search-form-container input {
  width: 100%;
  margin: 20px 0;
  padding: 20px 60px 20px 20px;
  display: block;
  border-radius: 50px;
  border: 2px solid var(--blue-light);
}
.search-form-container input:focus {
  outline: none;
  border: 2px solid var(--blue-dark);
}

.search-form-container button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 20px;
  z-index: 2;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* ConentRequest Component */
.content-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 0.7fr;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
  text-align: left;
}

.content-column {
  margin: 20px;
}
.content-container p {
  margin: 10px 0;
}

.content-container p span {
  font-weight: 700;
  color: var(--blue-dark);
}

.content-image-container {
  width: 265px;
  height: 400px;
}
.content-image-container img {
  /* margin-top: 80px; */
  width: 100%;
  height: 100%;
}
.content-description {
  max-height: 195px;
  overflow: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {
  .content-container {
    text-align: left;
    align-items: center;
    justify-content: center;
    grid-template-areas:
      ". "
      ". "
      ". "
      ". ";
  }
  .content-column {
    margin: 0px;
  }
  .content-image-container {
    margin: auto;
  }
}

.places-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
}

.map-container {
  max-width: 600px;
  height: 400px;
}

.combobox-input {
  width: 100%;
  padding: 0.5rem;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* INTRODUCTION PAGE */

.endpoints-container {
  margin: auto;
  max-width: 70%;
}

.endpoints-container h3 {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 2px solid var(--black);
}

.endpoints-container p {
  max-width: 100%;
}

.endpoint-example {
  background-color: var(--white);
  padding: 20px;
}
.endpoint-example span {
  font-weight: 700;
}

.endpoint-example p {
  margin: 10px 0;
}

.endpoint-example a {
  text-decoration: underline;
  color: var(--blue-dark);
  max-width: 100%;
}
.endpoint-response {
  background-color: var(--brown-dark);
  padding: 20px;
}
.endpoint-response span {
  color: var(--orange);
}
.endpoint-response p {
  color: var(--white);
  font-size: 10px;
}

.about {
  padding-bottom: 50px;
}

.about h4 {
  border-top: 2px solid var(--black);
  margin: 30px 0 0 0;
  padding: 10px 0;
  font-family: var(--font-header);
  font-size: 24px;
}

.about p {
  margin: 10px 0;
}

.about a {
  color: var(--blue-dark);
  font-weight: 700;
  text-decoration: underline;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/* Form Add Flower Component */
.form-add-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-add-container input {
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px 10px;
  width: 100%;
  margin: 10px 0px;
  border: 1px solid var(--blue-light);
}
.form-add-container input:active {
  border: 1px solid var(--yellow);
}
.form-add-container input:focus {
  border: 1px solid var(--yellow);
}

.form-add-container input[type="submit"] {
  border: none;
  background-color: var(--yellow);
  color: white;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.form-add-container input[type="submit"]:hover {
  box-shadow: 0px 15px 20px rgba(212, 211, 129, 0.4);
  transform: translateY(-7px);
}

.form-add-container h4 {
  text-align: center;
  font-size: 34px;
}

.form-add-error {
  color: var(--red);
}

.form-add-succes {
  color: var(--blue-dark);
  margin: 30px 0px;
}

.flower-2,
.flower-3,
.flower-4,
.flower-5,
.flower-6,
.flower-7 {
  position: absolute;
}

.flower-1 {
  position: absolute;
  top: 0;
  left: 5%;
}

.flower-2 {
  top: 10%;
  right: 9%;
  z-index: -1;
}
.flower-3 {
  right: 5%;
  bottom: 30%;
}
.flower-4 {
  bottom: 20%;
  left: 10%;
}
.flower-6 {
  bottom: 0;
  right: 10%;
  max-width: 40%;
}
.clouds {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.ground-left {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.ground-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.ground-bottom {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: -14px;
  left: 0;
  z-index: 0;
}
@media screen and (max-width: 800px) {
  .flower-1,
  .flower-2,
  .flower-3,
  .flower-4,
  .flower-5,
  .flower-6,
  .flower-7 {
    width: 20%;
  }
  .flower-6 {
    bottom: 0;
    right: 10%;
    display: none;
  }
  .ground-left,
  .ground-right {
    display: none;
  }
}
